body {
  background: url(img/bricks.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: lavender;
}

.sidebar {
  float: right;
  background-color: purple;
}

img {
  float: right;
}
