body {
  background: url(img/bricks.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: lavender;
}

.sidebar {
  float: right;
  background-color: purple;
  margin: 10px;
  border: 15px solid lavender;
  padding: 7px;
}

img {
  float: right;
  padding: 5px;
}
